<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3" xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10" xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities" IgnorableNamespaces="uap mp rescap uap3 desktop">
  <Identity Publisher="CN=59FB1262-434E-4693-9A1E-CD275B151706" Version="0.7.0.0"  Name="D5BA6BCD.OpenLiveWriter"/>
  <Properties>
    <DisplayName>Open Live Writer</DisplayName>
    <PublisherDisplayName>.NET Foundation</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.15063.0" MaxVersionTested="10.0.17763.0" />
  </Dependencies>
  <Resources>
    <Resource Language="EN-US" />
    <Resource Language="AF" />
    <Resource Language="AR" />
    <Resource Language="BG" />
    <Resource Language="BN-BD" />
    <Resource Language="CS" />
    <Resource Language="DA" />
    <Resource Language="DE" />
    <Resource Language="EL" />
    <Resource Language="ES" />
    <Resource Language="FA" />
    <Resource Language="FI-FI" />
    <Resource Language="FR" />
    <Resource Language="FR-BE" />
    <Resource Language="HE" />
    <Resource Language="HR" />
    <Resource Language="HU" />
    <Resource Language="ID" />
    <Resource Language="IT" />
    <Resource Language="JA" />
    <Resource Language="LV" />
    <Resource Language="MS-MY" />
    <Resource Language="MT" />
    <Resource Language="NB" />
    <Resource Language="NB-NO" />
    <Resource Language="NL" />
    <Resource Language="PL" />
    <Resource Language="PT" />
    <Resource Language="RO" />
    <Resource Language="RU" />
    <Resource Language="SK" />
    <Resource Language="SL" />
    <Resource Language="SR-LATN" />
    <Resource Language="SV" />
    <Resource Language="TR" />
    <Resource Language="UK" />
    <!--<Resource Language="UZ-CYRL-UZ" />-->
    <Resource Language="UZ-LATN-UZ" />
    <Resource Language="VI" />
    <Resource Language="ZH-CN" />
    <Resource Language="ZH-HANS" />
    <Resource Language="ZH-HANT" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="$targetentrypoint$">
      <uap:VisualElements DisplayName="Open Live Writer" Description="Open Live Writer" BackgroundColor="#a25da2" Square150x150Logo="Assets\Writer150x150.png" Square44x44Logo="Assets\Writer44x44.png">
        <uap:DefaultTile>
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
      </uap:VisualElements>
      <Extensions>
        <uap3:Extension Category="windows.fileTypeAssociation">
          <uap3:FileTypeAssociation Name="openLiveWriter" Parameters="&quot;%1&quot;">
            <uap:SupportedFileTypes>
              <uap:FileType>.wpost</uap:FileType>					
            </uap:SupportedFileTypes>
            <uap3:SupportedVerbs>
              <uap3:Verb Id="Edit" Parameters="&quot;%1&quot;">Edit</uap3:Verb>
            </uap3:SupportedVerbs>
          </uap3:FileTypeAssociation>			
        </uap3:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
