<lbaConfig version="2.0" xmlns="http://msn.com/mlp">
  <cultureSettings>
    <enablePseudoLoc value="true" />
  </cultureSettings>
  <jobList>
    <job id="PrepHandoff" jobType="MlpPrepHandoffLspkg">
      <parameterList id="CreateLspkgParameterList">
        <parameter name="PerformAutotranslation" value="false" />
      </parameterList>
   </job>
  </jobList>
</lbaConfig>