<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Plugins"/>
      <dependentAssembly>
        <assemblyIdentity
          name="OpenLiveWriter.Api"
          publicKeyToken="31BF3856AD364E35" />
        <bindingRedirect oldVersion="1.0.0.0"
          newVersion="1.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
