/*-----------------------------------------------------------------------------
 * Copyright (c) Open Live Writer. All rights reserved.
 *
 * File:    OpenLiveWriterShortcuts.rc
 *----------------------------------------------------------------------------*/

// LANGUAGE 9, 0

#include "strings.h"

// Version
#define RC_VERSION_FILE_TYPE                VFT_DLL
#define RC_VERSION_INTERNAL_NAME            "OpenLiveWriterShortcuts"
#define RC_VERSION_ORIGINAL_FILE_NAME       "OpenLiveWriterShortcuts"
#define RC_VERSION_FILE_DESCRIPTION         "Open Live Writer"
#define RC_VERSION_PRODUCT_NAME             "Open Live Writer"
#include <bldver.rc>

// These string IDs are hardcoded into writerprod.wxs. Keep them in sync
STRINGTABLE 
BEGIN
    IDS_WRITER_SHORTCUT_TOOLTIP   "Blog like a pro, with photos, videos, maps, and more" // Tooltop displayed for shortcut in start menu.
    IDS_WRITER_SHORTCUT_NAME      "Open Live Writer" // Text that displays in the shortcut to launch Writer. Do not localize product name.
    IDS_WRITER_SHORTCUT_NAME_BETA "Open Live Writer Beta" // Text that displays in the shortcut to launch Writer when in beta. Do not localize product name.
END

