<?xml version="1.0" encoding="utf-8"?>
<!--This file was updated by edb2lspkg.exe, Version 3.1.807.1.-->
<lbaConfig xmlns="http://msn.com/mlp" version="2.0">
  <jobList>
    <job id="PrepHandoff" jobType="MlpPrepHandoffLspkg">
      <parameterList id="CreateLspkgParameterList">
        <!--      <parameter name="GlossaryFolderUsage" value="First"/> -->
        <!--      <parameter name="FailOnEdbAutoTranslationErrors" value="false"/> -->
        <parameter name="HandleResxConversion" value="true" />
	<parameter name="GenerateLcgForLcm" value="true" />
        <parameter name="UpdateLcmFromLcg" value="true" />        

      </parameterList>
    </job>
    <job id="Handback" jobType="MlpHandbackLspkgEnv">
      <parameterList id="Lspkg2BinParameterList">
        <parameter name="PerformValidation" value="true" />
        <parameter name="UseValidationForGeneration" value="true" />
        <parameter name="FailOnValidationErrors" value="true" />
        <parameter name="UseExistingLclForGeneration" value="false" />
        <parameter name="PseudoLocMode" value="mixed" />
        <parameter name="HandleResxConversion" value="true" />
	<parameter name="GenerateLcgForLcm" value="true" />
        <parameter name="UpdateLcmFromLcg" value="true" />        
	</parameterList>
      <parameterList id="PostBinActionParameterList">
        <parameter name="path" value="%LBA_HANDBACKPOSTEDB2BIN%" />
        <parameter name="AllowMultithread" value="true" />
      </parameterList>
    </job>
    <job id="Checkin" jobType="MlpCheckinLspkg" />
    <job id="LocBuild" jobType="DailyBuildLocalizationCustomLspkgEnv">
      <parameterList id="Lspkg2BinParameterList">
        <parameter name="HandleResxConversion" value="true" />
	<parameter name="GenerateLcgForLcm" value="true" />
        <parameter name="UpdateLcmFromLcg" value="true" />
	<!-- Below parameter is to revert updated strings to English in legacy files -->
	<parameter name="IgnoreUpdatedStringsForLoc" value="True"/>
      </parameterList>
      <parameterList id="PostBinActionParameterList">
        <parameter name="path" value="%LBA_DAILYBUILDPOSTEDB2BIN%" />
        <parameter name="AllowMultithread" value="false" />
      </parameterList>
    </job>
    <job id="RegisterBuild" jobType="MlpRegisterBuildLspkg">
      <commandList>
        <command id="CreateHandoffDrop" plugin="Hubble" position="1" executionLevel="Root" 	parameterListId="CreateHandoffDropParameterList" timeout="30" runInLocalMode="true"/>
      </commandList>
	<parameterList id="CreateHandoffDropParameterList">
        <parameter name="Action" value="CreateHandoffDrop"/>
        <parameter name="HubbleProjectId" value="273"/>
      </parameterList>  
	<parameterList id="Bin2LcxParameterList">
        <parameter name="HandleResxConversion" value="true" />
        <parameter name="GenerateLcgForLcm" value="true" />
        <parameter name="UpdateLcmFromLcg" value="true" />
      </parameterList>
	<parameterList id="CopyResultsToMlpFileServerParameterList">
        <parameter name="SubFoldersToInclude" value="locstudio.source | miscfiles | handoff.extra | lce | lci | lcg | resx.comments | locstudio.reference | lcm"/>
      </parameterList>
    </job>
    <job id="policheck" jobType="PolicheckLspkg">
    </job>
    <job id="CheckinLcl" jobType="CheckinLspkgLcl" />
    <job id="HandbackRemote1" jobType="MlpHandbackRemoteLspkg1Env">
      <parameterList id="Lspkg2BinParameterList">
        <parameter name="HandleResxConversion" value="true" />
      </parameterList>
      <parameterList id="PostBinActionParameterList">
        <parameter name="path" value="%LBA_HANDBACKPOSTEDB2BIN%" />
        <parameter name="AllowMultithread" value="false" />
      </parameterList>
    </job>
    <job id="HandbackRemote2" jobType="MlpHandbackRemoteLspkg2" />
    <job id="ValidateLspkg" jobType="ValidateLspkg" />
    <job id="Lspkg2Lcl" jobType="Lspkg2Lcl"/>
  </jobList>
  <customJobTypes>
    <jobType id="Lspkg2Lcl">
      <commandList>
        <command id="Lspkg2Lcl" plugin="Lspkg" position="10" executionLevel="Project" parameterListId="Lspkg2LclParameterList" />
      </commandList>
      <parameterList id="Lspkg2LclParameterList">
        <parameter name="Action" value="Lspkg2Lcl" />
        <parameter name="PerformValidation" value="false"/>
        <parameter name="FailOnValidationErrors" value="false"/>
        <parameter name="PerformLanguageCheck" value="false"/>
        <parameter name="SuppressWarnings" value="false"/>
      </parameterList>
    </jobType>
  </customJobTypes>
  <pluginPropertyList>
    <property id="LsbuildCommentType">LCM</property>
    <property id="SourceDepotLbaRoot">%inetroot%\client\writer\intl\lba</property>
    <property id="FileExtensionParserAssignments">
      <assignment fileExtension="wxl" parserId="210" />
      <assignment fileExtension="mum" parserId="210" />
    </property>
    <property id="SourceControlLbaRoot">%LBA_SOURCECONTROLPATH%</property>
  </pluginPropertyList>
</lbaConfig>