<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <!-- Only needed for testing outside the process execution dir cases
 
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="OpenLiveWriter.PostEditor"
                          publicKeyToken="31bf3856ad364e35"
                          culture="neutral" />
        <codeBase version="15.0.186.610"
                  href="d:\enlistments\w.c.w-canvas\target\debug\i386\Writer\OpenLiveWriter.PostEditor.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="OpenLiveWriter.Interop"
                          publicKeyToken="31bf3856ad364e35"
                          culture="neutral" />
        <codeBase version="15.0.186.610"
                  href="d:\enlistments\w.c.w-canvas\target\debug\i386\Writer\OpenLiveWriter.Interop.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="OpenLiveWriter.Interop.Mshtml"
                          publicKeyToken="31bf3856ad364e35"
                          culture="neutral" />
        <codeBase version="15.0.186.610"
                  href="d:\enlistments\w.c.w-canvas\target\debug\i386\Writer\OpenLiveWriter.Interop.Mshtml.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="OpenLiveWriter.Localization"
                          publicKeyToken="31bf3856ad364e35"
                          culture="neutral" />
        <codeBase version="15.0.186.610"
                  href="d:\enlistments\w.c.w-canvas\target\debug\i386\Writer\OpenLiveWriter.Localization.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="OpenLiveWriter.Mshtml"
                          publicKeyToken="31bf3856ad364e35"
                          culture="neutral" />
        <codeBase version="15.0.186.610"
                  href="d:\enlistments\w.c.w-canvas\target\debug\i386\Writer\OpenLiveWriter.Mshtml.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="OpenLiveWriter.Passport"
                          publicKeyToken="31bf3856ad364e35"
                          culture="neutral" />
        <codeBase version="15.0.186.610"
                  href="d:\enlistments\w.c.w-canvas\target\debug\i386\Writer\OpenLiveWriter.Passport.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="OpenLiveWriter.CoreServices"
                          publicKeyToken="31bf3856ad364e35"
                          culture="neutral" />
        <codeBase version="15.0.186.610"
                  href="d:\enlistments\w.c.w-canvas\target\debug\i386\Writer\OpenLiveWriter.CoreServices.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="OpenLiveWriter.Api"
                          publicKeyToken="31bf3856ad364e35"
                          culture="neutral" />
        <codeBase version="1.1.0.0"
                  href="d:\enlistments\w.c.w-canvas\target\debug\i386\Writer\OpenLiveWriter.Api.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="OpenLiveWriter.WriterPlugin"
                          publicKeyToken="31bf3856ad364e35"
                          culture="neutral" />
        <codeBase version="15.0.186.610"
                  href="d:\enlistments\w.c.w-canvas\target\debug\i386\Writer\OpenLiveWriter.WriterPlugin.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="OpenLiveWriter.Controls"
                          publicKeyToken="31bf3856ad364e35"
                          culture="neutral" />
        <codeBase version="15.0.186.610"
                  href="d:\enlistments\w.c.w-canvas\target\debug\i386\Writer\OpenLiveWriter.Controls.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="OpenLiveWriter.Extensibility"
                          publicKeyToken="31bf3856ad364e35"
                          culture="neutral" />
        <codeBase version="15.0.186.610"
                  href="d:\enlistments\w.c.w-canvas\target\debug\i386\Writer\OpenLiveWriter.Extensibility.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="OpenLiveWriter.ApplicationFramework"
                          publicKeyToken="31bf3856ad364e35"
                          culture="neutral" />
        <codeBase version="15.0.186.610"
                  href="d:\enlistments\w.c.w-canvas\target\debug\i386\Writer\OpenLiveWriter.ApplicationFramework.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="OpenLiveWriter.HtmlEditor"
                          publicKeyToken="31bf3856ad364e35"
                          culture="neutral" />
        <codeBase version="15.0.186.610"
                  href="d:\enlistments\w.c.w-canvas\target\debug\i386\Writer\OpenLiveWriter.HtmlEditor.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="OpenLiveWriter.SpellChecker"
                          publicKeyToken="31bf3856ad364e35"
                          culture="neutral" />
        <codeBase version="15.0.186.610"
                  href="d:\enlistments\w.c.w-canvas\target\debug\i386\Writer\OpenLiveWriter.SpellChecker.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="OpenLiveWriter.BlogClient"
                          publicKeyToken="31bf3856ad364e35"
                          culture="neutral" />
        <codeBase version="15.0.186.610"
                  href="d:\enlistments\w.c.w-canvas\target\debug\i386\Writer\OpenLiveWriter.BlogClient.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="OpenLiveWriter.HtmlParser"
                          publicKeyToken="31bf3856ad364e35"
                          culture="neutral" />
        <codeBase version="15.0.186.610"
                  href="d:\enlistments\w.c.w-canvas\target\debug\i386\Writer\OpenLiveWriter.HtmlParser.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="OpenLiveWriter.BrowserControl"
                          publicKeyToken="31bf3856ad364e35"
                          culture="neutral" />
        <codeBase version="15.0.186.610"
                  href="d:\enlistments\w.c.w-canvas\target\debug\i386\Writer\OpenLiveWriter.BrowserControl.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
     -->

</configuration>