<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApprovalTests" version="4.2.2" targetFramework="net461" />
  <package id="ApprovalUtilities" version="4.2.2" targetFramework="net461" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net461" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net461" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net461" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net461" />
  <package id="Microsoft.Win32.Registry" version="4.5.0" targetFramework="net461" />
  <package id="NUnit" version="3.12.0" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="3.15.1" targetFramework="net461" />
  <package id="System.Data.SqlClient" version="4.6.1" targetFramework="net461" />
  <package id="System.Drawing.Common" version="4.5.1" targetFramework="net461" />
  <package id="System.Management" version="4.5.0" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="4.5.1" targetFramework="net461" />
  <package id="TextCopy" version="1.7.1" targetFramework="net461" />
</packages>